
/* Universal style */
body {
    background-color: darkgray;
}

.background{
    background-color: peachpuff;
}

h1{
    color: darkturquoise;
}

h2{
    color: lightgray;
    font-size: 15px;
}

p{
    font-size: 20px;
}

.navbar-brand{
    background-color: turquoise;
    font-size: 30px;
}

/* .container-main{
   margin: 100px 15px 100px 15px;
} */

.container{
    /* background-color: white; */
    padding: 30px 0 30px 20px;
}

.footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 70px;
    background-color: darkgray;
    /* position: fixed;  */
    border-top: 10px solid lightblue;
    text-align: center;
    clear: both; //clearing previous divs
}

/* index "About Me" page style */
.float-left{
    display: flex;  
    flex-wrap: wrap;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Contact page style */
.form-group{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

/* Porfolio page style */
.placeholder{
    margin: 15px 15px 15px 15px;
    width: 100%;
}
.content{
    background-color: white;
}

