
/* Universal style */
html {
    height: 100%;
  }

body {
    background-color: darkgray;
    min-height: 100%;
    padding-bottom: 30px;
    position: relative;
}

.background{
    background-color: darkgray;
}

h1{
    color: darkslateblue;
}

h2{
    color: lightgray;
    font-size: 15px;
}

p{
    font-size: 20px;
}

.navbar-brand{
    background-color: rgb(232, 243, 242);
    font-size: 30px;
}

.container{
   padding: 30px 0 30px 20px;
}

footer {
    clear: both;
    color: rgb(238, 225, 225);
    background-color: rgb(7, 6, 6);
    padding: 10px;
    text-align: center;
    border-top-style: solid;
    border-top-color: blueviolet;
    border-top-width: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }

/* index "About Me" page style */
.float-left{
    display: flex;  
    flex-wrap: wrap;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Contact page style */
.form-group{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.btn {
    margin-bottom: 2rem;
}


/* Porfolio page style */
.placeholder{
    margin: 15px 15px 15px 15px;
    width: 100%;
}


